.landing-outer {
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}

.landing-container {
  text-align: center;
  position: relative;
  vertical-align: middle;
  display: table-cell;
}

.landing-inner {
  width: 80%;
  background: $gray2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  // border: 10px solid $gray1;
  border: 1px solid transparent;
}

h1 {
  color: $gray3;
  font-family: 'Montserrat', sans-serif;
  font-size: 9em;
}
